{% extends "base.html" %}
{% block content %}
<div class="resize-box">
    
    <h2>會員註冊</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.username.label }} {{ form.username }}</div>
        <div>{{ form.email.label }} {{ form.email }}</div>
        <div>{{ form.password.label }} {{ form.password }}</div>
        <div>{{ form.confirm_password.label }} {{ form.confirm_password }}</div>
        <div>{{ form.submit }}</div>
    </form>
    <p>已經有帳號？<a href="{{ url_for('auth.login', next=request.args.get('next')) }}">立即登入</a></p>
</div>
{% endblock %}
